<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quietus</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="stylesheet" href="/static/style2.css">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Birthstone&display=swap" rel="stylesheet">

</head>

<body style="height: 26578.300px;">

    <div style="background-image: url(/static/images/Quietus.jpg); background-size: contain; height: 26686.800px;" >



    <div class="d-flex justify-content-center " >



    <div class="card text-white bg-dark mt-3 w-75 p-3 " style="font-size: 100px ; opacity: 0.55;">
        
            <div class="card-header text-center mt-5" style="font-weight: bolder; font-size: 150px ;"> <u> When Quietus Occurs </u> </div>
        
            <div class="card-body">
        
            <p class="card-text text-center">

            When a death occurs, the order in which things need to be done often depends on where the death occurred. But, one thing should always be remembered: your heightened emotional state upon the death of a loved one. That's why we suggest that you ask a friend for help - someone who is more able to think clearly, and give you the support you need.

            </p>

<br>

            <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>At Home or at Work </u> </div>
        
            <img src="/static/images/quietus_home_work.jpg" alt="quietus at home or work" class="rounded mx-auto d-block " style="width:500px;height:275px;">


            <p class="card-text text-center" >
        
                When a death occurs at home or in the workplace, a family member or co-worker should contact emergency personnel and the person's physician if he or she was under a doctor's care. If the death occurs at home with family or friends present, and the person is under a physician's care, the family will want to call us directly.

                However, if the death occurs in a residence and no one is there at the time of death, the police will need to be notified and respond to the residence before the deceased is removed from their home.

                If in any case you are not sure of who to notify or what to do, you may call (815) 774-9220, and we'll assist you in notifying the proper agencies. 

            </p>

<br>

            <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>While Under Supervised Care </u> </div>

            <img src="/static/images/quietus_under_care.jpg" alt="quietus under care" class="rounded mx-auto d-block " style="width:500px;height:275px;">

        
            <p class="card-text text-center" >

                When a death occurs in a care facility, such as a hospital or nursing home, the professional staff will notify you and the necessary authorities. If the name of the funeral home has been left with them, the institution will notify the funeral home at the time of the death. The funeral director will contact you immediately following their notification to help you proceed. (However, we suggest you contact the funeral home immediately, so you've got the reassurance you need that all is taken care of properly.)

                If a loved one was in the care of a hospice program, a hospice representative will give family members instructions and procedures to follow. The coroner/medical examiner will be notified by hospice. Following their release the hospice will contact the funeral home. It is always a good idea for the family to contact us immediately so that we will be aware of the pending call from hospice.

            </p>

<br>

            <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>Widening the Circle </u> </div>

            <img src="/static/images/quietus_wide_circle.jpg" alt="quietus widening circle" class="rounded mx-auto d-block " style="width:500px;height:275px; ">

        
            <p class="card-text text-center" >

                Our staff members are experienced professionals who can provide much of the information you need, emotional support and compassionate guidance.

                While you may ask the director any questions at this time, you will be able to discuss the arrangements in detail later when you meet in person. During this initial call, the funeral director will gather information to be able to transport your loved one to the funeral home.

                The funeral director may ask you several questions, including whether your loved one made any pre-arrangements. The director will also schedule a date and time for you to meet at the funeral home and will let you know what you should bring with you. Others you will need to call are:
            
                </p>


                    <li style="text-align: center;"> Family members and friends.</li>

                    <li style="text-align: center;"> Clergy or other spiritual advisors. </li>

<br>

            <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>Those Important Questions</u> </div>

            <img src="/static/images/quietus_imp_questions.jpg" alt="quietus important questions" class="rounded mx-auto d-block " style="width:500px;height:275px; ">

        
            <p class="card-text text-center" >

                If there is no pre-plan in place, there are several other questions that you may have to have answered in regards to the death of your loved one: 
            </p>

            
            

                <li style="text-align: center;"> Do I have to have embalming? </li>

                <li style="text-align: center;"> Do I need to purchase a casket? </li>

                <li style="text-align: center;"> What about cemetery arrangements? </li>

                <li style="text-align: center;"> Does the family have to engage the services of a minister? </li>

                <li style="text-align: center;"> What type of service should we have? </li>


            <p class="card-text text-center mt-5" >


                    By contacting our staff, we'll be able to help answer your questions and assist in making the appropriate plans. You can reach us at (815) 774-9220.

                    However, as we’ve said before, one of the best ways to make sure that all of your questions and desires are taken care of is to make pre-arrangements. This is as simple as outlining your wishes to having all of the details written down and the financial arrangements prepaid. Please contact one of our staff at (815) 774-9220 to learn more about pre-arrangement.
            </p>

<br>

            <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>What to Expect When You Arrive at the Funeral Home</u> </div>

            <img src="/static/images/quietus_expectation_funeral.jpg" alt="quietus expectations at a funeralHome" class="rounded mx-auto d-block " style="width:500px;height:275px; ">

        
            <p class="card-text text-center" >

                One of the first things the funeral arranger will do is to provide you with our general price list. He or she will then guide you through the entire arrangement process, explaining how you can create a memorable personal celebration of your loved one's life. This is not a one-way conversation; we want to hear your ideas and desires, and use them as the foundation for the arrangement process.

                This process may include: 

            </p>


                <li style="text-align: center;"> Preparing and filing the official death certificate. </li>

                <li style="text-align: center;"> Scheduling the location, date and time of services or events. </li>

                <li style="text-align: center;"> Selecting a casket, urn or other items. </li>

                <li style="text-align: center;">  Preparing an obituary notice.</li>

                <li style="text-align: center;">  Scheduling vehicles.</li>

                <li style="text-align: center;">  Selecting pallbearers.</li>


            <p class="card-text text-center mt-5" >
                
                You may also sign necessary authorizations or make arrangements to have them signed by the appropriate family members.
                
                We’d like you to bring any photos, a favorite song, or memorabilia so that you and your funeral arranger can better discuss how you would like your loved one to be remembered. Having these things, and knowing their favorite song or favorite gathering place – even their favorite activity – will help us create a truly fitting memorial service.
                
                Our funeral arrangers will assist you in planning a loving tribute that captures the spirit of the person whose life you wish to honor. The funeral arranger will discuss personalization with you during your arrangement conference.
                
                The following checklist will help you remember what information about the decedent and items will be needed when meeting with a funeral arranger.

            </p>


                <li style="text-align: center;"> Full legal name- Home address.</li>

                <li style="text-align: center;"> Social Security number.</li>

                <li style="text-align: center;"> Date of birth. </li>

                <li style="text-align: center;"> Place of birth.</li>

                <li style="text-align: center;"> Father's name.</li>

                <li style="text-align: center;"> Mother's maiden name.</li>

                <li style="text-align: center;">  Veteran's discharge papers (DD-214).</li>

                <li style="text-align: center;"> Recent Photograph.</li>

                <li style="text-align: center;"> Highest education. </li>

                <li style="text-align: center;"> Occupation.</li>

                <li style="text-align: center;"> Place of burial (if applicable).</li>

                <li style="text-align: center;">Clothing.</li>

                <li style="text-align: center;">Clergy name and phone number.</li>

                <li style="text-align: center;"> Survivors (name and relationship).</li>

                <li style="text-align: center;">Insurance policies (if applicable).</li>


            <p class="card-text text-center mt-5" >

                A staff member of Delgado Funeral Chapel will be honored to explain all of the options available to you.    

            </p>


        
            </div>

        
        </div>
        
        
        
        
        </div>
        

        <a href="/dashboard" class="btn text-white" style="font-size: larger; border: whitesmoke solid 1px; transform: scale(3); float: right; background-color: #000000; opacity: 0.55; position: relative; bottom: 26428px; right: 90px;">Home</a>



</body>

</html>