<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Etiquette</title>

    <link rel="stylesheet" href="/static/style2.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Birthstone&display=swap" rel="stylesheet">


</head>
<body style="height: 18304px;">



    <div style="background-image: url(/static/images/etiquette.jpg); background-size: contain; height: 18304px;">


        <div class="d-flex justify-content-center " >



            <div class="card text-white bg-dark mt-3 w-75 p-3 " style="font-size: 100px ; opacity: 0.55;">
                
                    <div class="card-header text-center mt-5" style="font-weight: bolder; font-size: 195px ;"> <u>Funeral Etiquette
                    </u> </div>

                    <div class="card-body">
                
                    <p class="card-text text-center">
        
                        The accepted customs of dress and behavior in a funeral have changed over time, but courtesy never goes out of style. Here’s what we’d like you to know about funeral etiquette.
        
                    </p>
        
        <br>
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder; font-size: 150px ;"> <u> Making the Most of a Difficult Time</u> </div>
                
        
        
                    <p class="card-text text-center" >

                        It’s important to know what religious, ethnic or personal considerations you need to take into account. And it’s also important to be respectful of the emotions of close family members.

                        
                    </p>
        
                    <br>

                    <p class="card-text text-center">
                        Here are a few things expected of you:
                    </p>

        <br>

                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u> Offer an expression of sympathy. </u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        Sometimes we are at a loss for words when encountering something as final as death. Simply saying "I'm sorry for your loss" is usually enough. Be respectful and listen attentively when spoken to, and offer your own words of condolence.    
                    </p>
        
        <br>
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>Find out the dress code.</u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        These days almost anything goes, but only when you know it's the right thing. In fact, sometimes the deceased has specified the dress code; 'no black' is a common request. If you can't learn the wishes of the family, then dress conservatively, and avoid bright colors.


                    </p>
        
        
        <br>
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>Give a gift.</u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        It doesn't matter if it is flowers, a donation to a charity or a commitment of service to the family at a later date; as always, "it's the thought that counts." Always make sure to provide the family with a signed card, so they know what gift was given, and by whom.
                    </p>
    


        <br>
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>Sign the register book.</u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        Include not only your name, but your relationship to the deceased: co-worker, gym buddy, or casual acquaintance from the golf club. This helps family place who you are in future.

        
                    </p>
        
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u> Keep in touch. </u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        It's sometimes awkward for you to do so, but for most people the grieving doesn't end with a funeral.                    </p>
        
        <br>
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder; font-size: 150px;"> <u>But, What Shouldn't You Do?</u> </div>
        <br>
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>Don't feel that you have to stay.</u> </div>

                
                    <p class="card-text text-center" >
        
                        If you make a visit during calling hours there's no reason your stay has to be a lengthy one.



                    </p>
        
        
        <br>
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>Don't be afraid to laugh.</u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        Remembering their loved one fondly can mean sharing a funny story or two. Just be mindful of the time and place; if others are sharing, then you may do so too. There is simply no good reason you shouldn't talk about the deceased in a happy, positive tone.



                    </p>
    


        <br>
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>Don't feel you have to view the deceased if there is an open casket.</u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        Act according to what is comfortable to you.




        
                    </p>
        
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u> Don't allow your children to be a disturbance. </u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        If you feel they might be, then leave them with a sitter. But, if the deceased meant something to them, it's a good idea to invite them to share in the experience.




    
                    </p>
        
        <br>
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>Don't leave your cell phone on.</u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        Switch it off before entering the funeral home, or better yet, leave it in the car. All too often, we see people checking their cell phones for messages during the services.



                    </p>
        
        
        <br>
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>Don't neglect to step into the receiving line.</u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        Simply say how sorry you are for their loss, offer up your own name and how you knew the deceased.

                    </p>
    


        <br>
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>Don't be too hard on yourself if you make a mistake.</u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        Everyone does, and you can be sure that an apology may be all that's needed to mend and soothe.

                        When it's all over, always remember to continue to offer support and love to the bereaved. The next few months are a time when grieving friends and relatives could need you most. Let them know that your support did not end with the funeral.
        
                    </p>
        
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder; font-size: 150px;"> <u> We are Here to Help</u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        Perhaps you've got special concerns about an upcoming funeral or memorial service? We're here to provide the answers you're looking for. Call us at (815) 774-9220.


                    </p>
        
        



                
                    </div>
        
                
                </div>
                
                
                
                
                </div>
                

        <a href="/dashboard" class="btn text-white" style="font-size: larger; border: whitesmoke solid 1px; transform: scale(3); float: right; background-color: #000000; opacity: 0.55; position: relative; bottom: 18056px; right: 90px;">Home</a>



</body>
</html>