<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ</title>


    <link rel="stylesheet" href="/static/style2.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Birthstone&display=swap" rel="stylesheet">

</head>
<body style="height: 52329.400px;">

    <div style="background-image: url(/static/images/FAQ.jpg); background-size: contain; height: 52329.400px;">


        <div class="d-flex justify-content-center " >



            <div class="card text-white bg-dark mt-3 w-75 p-3 " style="font-size: 100px ; opacity: 0.55;">
                
                    <div class="card-header text-center mt-5" style="font-weight: bolder; font-size: 150px ;"> <u> Frequently Asked Questions</u> </div>
                
                    <div class="card-body">
                
                    <p class="card-text text-center">
        
                        We have heard thousands of questions, and chosen to provide you with the answers to some of the more common questions relating to a funeral, a funeral service and funeral homes.
        
                    </p>
        
        <br>
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u> What is a funeral?</u> </div>
                
                    <img src="/static/images/funeral_service.jpg" alt="quietus at home or work" class="rounded mx-auto d-block " style="width:500px;height:275px;">
        
        
                    <p class="card-text text-center" >

                        The funeral is a ceremony of proven worth and value for those who mourn. It provides an opportunity for the survivors and others who share in the loss to express their love, respect and grief. It permits facing openly and realistically the crisis that death may present. Through the funeral, the bereaved take that first step towards emotional adjustment to their loss.

                    </p>

        <br>

                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u> What type of service should I have? </u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        Only you can answer that question. The type of service conducted for the deceased, if not noted in a pre-plan, is decided by the family. The service is usually held at a place of worship or at the funeral home. The service may vary in ritual according to religious denomination or the wishes of the family. The presence of friends at this time is an acknowledgment of friendship and support. A private service is by invitation only where selected relatives and a few close friends attend the funeral service. A memorial service is usually a service without the body present and can vary in ceremony and procedures according to the family's community and religious affiliations.
    
                    </p>
        
        <br>
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>Can I personalize my funeral service?</u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        Absolutely, in fact, we recommend it. After all, the funeral is a celebration of life. Funeral directors are happy to discuss all options and ensure your funeral is tailored to your wishes. It may be personalized in many unique ways. Contact us at (815) 774-9220 to explore the possibilities.

                    </p>
        
        
        <br>
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>Why should we have a public viewing?</u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        There are many reasons to view the deceased. It is part of many cultural and ethnic traditions, and many grief specialists believe that viewing aids the grief process, by helping the bereaved recognize the reality of death. Viewing is even encouraged for children, as long as it is their desire to do so, and the process is explained well.

                    </p>
    


        <br>
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>Why do we need an obituary notice?</u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        It is helpful to friends and the community to have an obituary notice published announcing the death and type of service to be held. A notice can be placed in a local newspaper, or on the Internet.


        
                    </p>
        
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u> What do funeral directors do? </u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        Funeral directors are both caregivers and administrators. In their administrative duties, they make the arrangements for transportation of the body, complete all necessary paperwork, and implement the choices made by the family regarding the funeral and final disposition of the body. As caregivers, funeral directors are listeners, advisors and supporters. They have experience assisting the bereaved in coping with death. Funeral directors are trained to answer questions about grief, recognize when a person is having difficulty coping, and recommend sources of professional help. Funeral directors also link survivors with support groups at the funeral home or in the community.    
                    </p>
        
        <br>
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>What should I do if the death occurs in the middle of the night or on the weekend?</u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        We are available 24 hours a day, seven days a week. All you need to do is place a call to us at (815) 774-9220. If you request immediate assistance, one of our professionals will be there within the hour. If the family wishes to spend a short time with the deceased to say good bye, it's acceptable. Then they will come when your time is right.


                    </p>
        
        
        <br>
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>What should I do if a death occurs while away from home?</u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        Your funeral director can assist you if a death occurs anywhere on the globe. Contact your hometown funeral director of choice immediately. They will assume responsibility and coordinate the arrangements for the return of the deceased person to their community. They may engage the services of a funeral director in the place of death who will act as their agent.


                    </p>
    


        <br>
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>What is the purpose of embalming?</u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        Embalming sanitizes and preserves the body, retards the decomposition process, and enhances the appearance of a body disfigured by traumatic death or illness. It makes it possible to lengthen the time between death and the final disposition, thus allowing family members time to arrange and participate in the type of service most comforting to them. Embalming the body enables mourners to view the deceased if they wish. The emotional benefits of viewing the deceased are enormous, particularly to those having difficulty dealing with the death.



        
                    </p>
        
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u> Is embalming mandatory by law? </u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        No. But, certain factors of time, health and possible legal requirements might make embalming either appropriate or necessary. Please note that embalming may be required if the deceased is being transported by air to another country where local laws need be observed.


    
                    </p>
        
        <br>
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>Is cremation a substitute for a funeral?</u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        No, cremation is an alternative to earth burial or entombment for the body's final disposition and often follows a traditional funeral service. We can assist you with the necessary information for a funeral with a cremation following or a memorial service.


                    </p>
        
        
        <br>
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>Can I have a visitation period and a funeral service if cremation is chosen?</u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        Yes. Cremation does not preclude having a visitation period and a funeral service. Cremation is simply one option for final disposition of the body.


                    </p>
    


        <br>
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>Is cremation as a means of disposition increasing?</u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        Yes, but not dramatically.

        
                    </p>
        
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u> Is it possible to have a traditional funeral if someone dies of AIDS? </u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        Yes, a person who dies of an AIDS-related illness is entitled to the same service options afforded to anyone else. If public viewing is consistent with local or personal customs, that option is encouraged. Touching the deceased's face or hands is perfectly safe. Because the grief experienced by survivors may include a variety of feelings, survivors may need even more support than survivors of non-AIDS-related deaths.

                    </p>
        
        <br>
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>How much does a funeral cost?</u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        Funerals can cost as little as $1000 for a direct disposition. (Direct disposition includes registering the death, a basic casket or container, and transporting the deceased to a cemetery or crematorium) For an adult, full-service funeral, consumers choose to spend an average of $5000. This includes all professional services, including transfer-of remains, embalming, and other preparation; use of viewing facilities and the facilities for the ceremony; hearse, limousine, and the purchase of a casket.



                    </p>
        
        
        <br>
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>Has this cost increased significantly?</u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        Funeral costs have increased no faster than the consumer price index for other consumer items.



                    </p>
    


        <br>
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>Why are funerals so expensive?</u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        In some respects, funerals are a lot like weddings or birthday celebrations. The type and cost will vary according to the tastes and budget of the consumer. Not only that, a funeral home is a 24-hour, labor-intensive business, with extensive facilities (viewing rooms, chapels, limousines, hearses, etc.), these expenses must be factored into the cost of a funeral. Moreover, the cost of a funeral includes not only merchandise, like caskets, but the services of a funeral director in making arrangements; filing appropriate forms; dealing with doctors, ministers, florists, newspapers and others; and seeing to all the necessary details. Contrary to popular belief, funeral homes are largely family-owned with a modest profit margin.

        
                    </p>



        <br>
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>What recourse does a consumer have for poor service or overcharging?</u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        While most funeral homes provide outstanding services, sometimes things can go wrong. Funeral service is regulated by the Federal Trade Commission and state licensing boards. In most cases, the consumer should discuss problems with the funeral director first. If the dispute cannot be solved by talking with the funeral director, the consumer may wish to contact the FTC by contacting the Consumer Response Center by phone, toll-free, at 1-877-FTC-HELP (382-4357); TDD: 1-866-653-4261; by mail: Consumer Response Center, Federal Trade Commission, 600 Pennsylvania Avenue, NW, Washington, DC 20580; or on the Internet at www.ftc.gov, using the online complaint form. You may also choose to contact the local Better Business Bureau, or your state consumer protection office.

                    </p>
        
        
                    
        <br>
        
                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>Who pays for funerals for the indigent?</u> </div>
        
        
                
                    <p class="card-text text-center" >
        
                        Other than the family, there are veteran, union, and other organizational benefits to pay for funerals. Most funeral directors are aware of the various benefits and know how to obtain them for the indigent. However, funeral directors often absorb costs above and beyond what is provided by agencies to insure the deceased a respectable burial.

                    </p>













        <br>

                    <div class="card-header text-center mt-5" style="font-weight: bolder; font-size: 150px;"> <u> Cemetery Common Questions </u> </div>
                
                    <img src="/static/images/cemetery.png" alt="quietus at home or work" class="rounded mx-auto d-block " style="width:500px;height:275px;">
        
        
                    <p class="card-text text-center" >

                        The answers below are here because these are the most commonly-asked questions. If yours isn't listed, we invite you to call us. We're here to provide the information you need, when you need it.


                    </p>

        
                    <br>

                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u> Are cemeteries running out of space?</u> </div>
                
        
        
                    <p class="card-text text-center" >

                        Just like other open spaces, cemeteries are impacted by increased population density in both urban and rural areas. Cemetery spaces are a finite resource, and as such, are at a premium in some regions.
                    </p>


                    <br>

                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u> What is Perpetual Care?</u> </div>
                
        
        
                    <p class="card-text text-center" >

                        "Perpetual Care" usually refers to the correct terms Permanent Care or Endowment Care. These Care funds are collected with each Interment Space sale to maintain the grounds, roads, and buildings of the cemetery.
                    </p>

                    
                    <br>

                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u> Can the vault be personalized?</u> </div>
                
        
        
                    <p class="card-text text-center" >

                        Yes, we can show you the wide range of personalization choices, including customized nameplates and military insignias.


                    </p>


                    <br>

                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u> Are there vaults for cremated remains?</u> </div>
                
        
        
                    <p class="card-text text-center" >

                        Yes, we offer urn vaults, designed for in-ground burial of cremated remains.


                    </p>


                    <br>

                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u>  Can two cremations be performed at once? </u> </div>
                
        
        
                    <p class="card-text text-center" >

                        Never. Not only is it illegal to do so, most modern cremation chambers are not of sufficient size to accommodate more than one adult. Thus it would be a practical impossibility to conduct multiple cremations simultaneously.


                    </p>


                    <br>

                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u> Can the family witness the cremation?</u> </div>
                
        
        
                    <p class="card-text text-center" >

                        Yes, for a nominal fee. Our state-of-the-art cremation facility is set up to allow family members to be present when the body is placed into the cremation chamber. In fact, some religious groups include this as part of their funeral custom.


                    </p>


                    <br>

                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u> Does a body have to be embalmed before it is buried?</u> </div>
                
        
        
                    <p class="card-text text-center" >

                        No, embalming is not required for burial. It is always your choice. Your decision may depend on such factors as whether the family selected a service with a public viewing of the body with an open casket; or to enhance the deceased's appearance for a private family viewing; or if the body is going to be transported by air or rail, or because of the length of time prior to the burial.


                    </p>


                    <br>

                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u> Must I purchase a burial vault?</u> </div>
                
        
        
                    <p class="card-text text-center" >

                        In most areas of the country, state or local laws do not require that you buy a container to surround the casket in the grave. However, many cemeteries require that you have such a container so that the ground will not sink. Either a grave liner or a burial vault will satisfy these requirements.


                    </p>


                    <br>

                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u> What are the advantages of a mausoleum burial?</u> </div>
                
        
        
                    <p class="card-text text-center" >

                        Mausoleum crypts are both clean and dry. They offer a viable alternative for those who simply have an aversion of being interred in the ground. Furthermore, with the growing shortage of available land for cemetery use, mausoleums will allow for a maximum number of entombments in a minimum amount of space.


                    </p>


                    <br>

                    <div class="card-header text-center mt-5" style="font-weight: bolder;"> <u> What is a columbarium?</u> </div>
                
        
        
                    <p class="card-text text-center" >

                        A columbarium, often located within a mausoleum, chapel or in a garden setting, is constructed with numerous small compartments (niches) designed to hold urns containing cremated remains.

                    </p>







                
                    </div>
        
                
                </div>
                
                
                
                
                </div>
                

        <a href="/dashboard" class="btn text-white" style="font-size: larger; border: whitesmoke solid 1px; transform: scale(3); float: right; background-color: #000000; opacity: 0.55; position: relative; bottom: 52082px; right: 90px;">Home</a>


</body>
</html>