<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D.F.C.</title>

</head>

<body style="background-color: black;"onclick="myFunction()">

<div style="display: flex; justify-content: center; margin: auto; height: 1500px;">
    <div style="position: relative; top: 500px;">
    <A href="/register"><img src="https://cdn.f1connect.net/cdn/8036D-5i/layout/r/305x75/images/logo.63691633778.jpg" alt="Delgado_Funeral_Chapel" style="transform: scale(2.5);"></A>
    </div>
</div>


<script src="/static/script.js"></script>
</body>
</html>